/* CSS file or styled-components */

/* Dark theme */
.dark {
  /* Dark theme styles */
  background-color: #333;
  color: #fff;
}

/* Light theme */
.light {
  /* Light theme styles */
  background-color: #fff;
  color: #333;
}
